/* ===============================================
   HEADER SECTION
   =============================================== */

@use "../abstract/variables";

/* Header layout */
.flex-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0px; 
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.zag {
  font-family: variables.$second-family;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.nachtex {
  color: variables.$blue-color;
}

.kontexq {
  color: variables.$black-color;
}

.kontex {
  color: variables.$white-color;
}
.header_li {
  color: variables.$black-color;
}

/* Navigation */
.nav__gallery {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  column-gap: 50px;
  align-items: center;
  margin-left: -250px;
}

.nav__item {
  position: relative;
  text-decoration: none;
  color: #000;
  row-gap: 50px;
  padding-top: 33px;
  padding-bottom: 33px;
}

.nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 0;
  background-color: variables.$blue-color;
    transition-property: height;
  transition-duration: 250ms;
  /* transition: width 0.3s ease; */

  border-radius: 2px;
}

.current::after {
  width: 100%;
}

.current:hover::after  {
  height: 0px;
  transition-property: height;
  transition-duration: 250ms;
}


.nav__logo {
  display: flex;
  justify-content: space-around;
  color: variables.$another-black;
}

.nav__logo:hover, .nav__logo:focus {
  color: variables.$blue-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.active {
  color: variables.$blue-color;
}

/* Contact information */
.header__gallery {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  column-gap: 50px;
  align-items: center;
}

.header__item {
  display: flex;
  text-align: center;
  fill: variables.$grey-color;
  width: 161px;
}

.header__item:hover, .header__item:focus {
  display: flex;
  text-align: center;
  fill: variables.$blue-color;
    transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo--contact {
  color: variables.$grey-color;
}

.header__logo--contact:hover, .header__logo--contact:focus {
  color: variables.$blue-color;
    transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon {
  width: 16px;
  height: 12px;
  margin-right: 5px;
  margin: 0;
}

.header__icon:hover, .header__icon:focus {
  fill: variables.$blue-color;
    transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.swg_phone {
  width: 10px;
  height: 16px;
}