
:root {
  --social_color: rgba(175, 177, 184, 1);
  --our_t_color: rgba(245, 244, 250, 1);
  --black-color: rgba(0, 0, 0, 1);
  --another-black: rgba(33, 33, 33, 1);
  --grey-color: rgba(117, 117, 117, 1);
  --black-grey-color: rgba(47, 48, 58, 1);
  --blue-color: rgba(33, 150, 243, 1);
  --white-color: rgba(255, 255, 255, 1);
  --light-grey-color: rgba(255, 255, 255, 0.6);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

$social_color: rgba(175, 177, 184, 1);
$our_t_color: rgba(245, 244, 250, 1);
$black-color: rgba(0, 0, 0, 1);
$another-black: rgba(33, 33, 33, 1);
$grey-color: rgba(117, 117, 117, 1);
$black-grey-color: rgba(47, 48, 58, 1);
$blue-color: rgba(33, 150, 243, 1);
$white-color: rgba(255, 255, 255, 1);
$light-grey-color: rgba(255, 255, 255, 0.6);
$font-family: "Roboto", sans-serif;
$second-family: "Raleway", sans-serif;

