/* ===============================================
   FOOTER SECTION
   =============================================== */
@use "../abstract/variables";

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: variables.$black-grey-color;
  display: flex;
  justify-content: space-evenly;
}

.footer {
  width: 231px;
}

.section__logo--footer {
  font-family: variables.$second-family;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.section--footer {
  display: flex;
  align-items: center;
  column-gap: 70px;
}

/* Footer address */
.section__address--footer {
  padding-top: 20px;
  font-style: normal;
}

.address__aleart--footer {
  color: variables.$white-color;
  width: 231px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-bottom: 9px;
}

.gallery__item--footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.gallery__item--footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-bottom: 9px;
}

.gallery__logo--footer {
  color: variables.$light-grey-color;

}

/* Footer social media */
.foot_h2 {
  font-family: variables.$font-family;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.swg_foot_b {
  background-color: rgb(67, 68, 77);
  fill: white;
}

/* Footer subscription */
.section__div--footer {
  display: flex;
}

.media {
  width: 206px;
}

.section__sub--footer {
  margin-right: 175px;
}

.section__title--footer {
  font-family: variables.$font-family;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.section__input--footer {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding-left: 10px;
  color: white;
}

.section__buton--footer {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  color: white;
  display: flex;
  padding-top: 6px;
  margin-left: 12px;
  align-items: center;
}

.section__buton--footer-span {
  font-family: variables.$font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-left: 28px;
  margin-right: 10px;
}

.section__buton--footer-s {
  background-image: url(../img/plane.png);
  width: 24px;
  height: 24px;
}
